* {
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    color: white;
    text-align: center;
    background-color: rgb(216, 215, 215);
}

main {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: red;
}

div {
    width: 1500px;
    margin: 30px auto;
    border: solid 1px black;
    background-color: green;
}

ul {
    list-style: none;
}

li {
    margin: 30px 0;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: grey;
}

footer p {
    color: white;
}