/* ESTILIZAÇÃO POR TAG'S */

body {
    text-align: center;
    background-color: yellow;
}

ul {
    list-style: none;
    background-color: aqua;
}

li {
    height: 50px;
    width: 200px;
    font-size: 100px;
    color: rgb(212, 132, 11);
    margin: 0 auto;
    background-color: blue;
}

h2 {
    font-size: 80px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#caixa-rosa {
    
    background-color: pink;
}

#caixa-roxa {
    background-color: rgb(162, 0, 255);
}

.caixinha {
    width: 100px;
    height: 100px;
    background-color: white;
    display: inline-block;
    margin: 50px 40px 30px 20px;
}